# Alucar â€” Analisando as vendas

In [3]:
import pandas as pd

alucar = pd.read_csv("alucar.csv", sep=",")
alucar.head()

          mes  vendas
0  2017-01-31      10
1  2017-02-28      20
2  2017-03-31      33
3  2017-04-30      47
4  2017-05-31      63

In [4]:
print(f"Quantidade de linhas: {alucar.shape[0]}")

Quantidade de linhas: 24

In [5]:
print(f"Quantidade de dados nulos: {alucar.isna().sum().sum()}")

Quantidade de dados nulos: 0

## Corrigindo os tipos

In [6]:
alucar.dtypes

mes       object
vendas     int64
dtype: object

In [8]:
alucar.mes = pd.to_datetime(alucar.mes)

In [9]:
alucar.dtypes

mes       datetime64[ns]
vendas             int64
dtype: object

## Adicionando o Seaborn

In [11]:
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt